*.o
*.dSYM
*.csv
*.out
*.png
*.so
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
datasets/
build/darknet/*
darknet
!build/darknet/YoloWrapper.cs
.fuse*
.ccls-cache

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
