# ignore big files
*.o
*.dSYM
*.csv
*.out
*.png
*.so
*.weights

# ignore only subfolders
data/*
# !data/.gitkeep
cfg/*
# !cfg/.gitkeep
datasets/*
!datasets/*.py
weights/*
!weights/.gitkeep

# ignore this folders
backup/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
build/darknet/*
darknet
!build/darknet/YoloWrapper.cs
.fuse*
.ccls-cache


# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
